.Pragmatic_header_logo {

    margin: 2rem 0;
    font-family: 'Otomanopee One', cursive;
}

.Pragmatic_header_btn{
    margin-bottom: 2rem;
}

.Pragmatic_footer{
    margin-bottom: 2rem;
    font-family: 'Otomanopee One', cursive;
}

.mw-500 {
    max-width: 500px;
    padding: 1rem 1.5rem

}