<div style = 'text-align: center'>{# 위 아래 여백만 2rem 좌우는 0 #}
    <div class="Pragmatic_header_logo">
        <h1 >
            <a href="{% url 'home' %}">
                Pragmatic
            </a>
        </h1>
    </div>

    <div class="Pragmatic_header_btn">
        <span class="mx-2">
            <a href="{% url 'articleapp:List' %}">
                Articles
            </a>
        </span>
        <span class="mx-2">
            <a href="{% url 'projectapp:list' %}">
                Projects
            </a>
        </span>
        {% if user.is_authenticaed %}
        <span class="mx-2">
            <a href="{% url 'subscribeapp:list  ' %}">
                Subscribe
            </a>
        </span>
        {% endif %}

        {% if not user.is_authenticated %} {# if not login #}
        <span>
            <a href="{% url 'accountapp:login' %}">
                Login
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:create' %}">
                Sign Up
            </a>
        </span>
        {% else %}
        <span class="mx-2">
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                My page
            </a>
        </span>
        <span class="mx-2">
            <a href="{% url 'accountapp:logout' %}">
                Logout
            </a>
        </span>
        {% endif %}
    </div>

</div>