{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>
        .container div {
            width: 280px;
            box-shadow: 0 0 .5rem grey;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1rem;
            flex-direction: column; {# 게시글아래제목 #}
            }

        .container img {
            width: 100%;
            border-radius: 1rem;
        }

    </style>


    <script src="{%  static 'js/magicgrid.js' %}"></script>

    {% for article in article_list %}
    {% include 'snippets/pagination.html' %}
    {% endfor %}

    <div class="text-center my-5">
        <a href="{% url 'articleapp:create' %}"
            class="btn btn-dark rounded-pill material-icons">
            brush
        </a>
        <a href="{% url 'articleapp:create' %}"
                class="btn btn-outline-dark rounded-pill px-5">
                Create Article
        </a>
    </div>



{% endblock %}